/* Board */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
/* Game */
.game {
  position: absolute;
  top: 30%;
  left: 40%;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
/* Game Info */

.game-info {
  margin-left: 20px;
}
.status {
  margin-bottom: 10px;
}
